@import "tailwindcss";

#printable-receipt,
#printable-receipt * {
  color: #000000 !important;
}

@media print {
  #printable-receipt,
  #printable-receipt * {
    color: #000000 !important;
    border-color: #000000 !important;
  }
}
